
.bg{
    background-color: #ffebf4d7;
}
.bg-categories-1{
background-color: rgb(128, 128, 3);
}
.bg-categories-2{
background-color:pink ;
}
.bg-categories-3{
background-color: rgb(116, 233, 116);
}
.bg-suc{
    background-color: #ffebf4d7; 
}